body {
	font-family: "PTSans", sans-serif;
	font-style: normal;
	font-size:14px;
	line-height:26px;
	color: #000000;
}

.main-header {
	width: 1200px;
	margin: 0 auto;
	text-transform:uppercase;
	font-size:14px;
	line-height:26px;
}

.container {
	width: 1200px;
	margin: 0 auto;
	text-transform:uppercase;
}

.main-navigation {
	padding: 0px;
	list-style: none;
	text-transform:uppercase;
	margin: 0px;
	padding-left: 73px;
	padding-right: 73px;
}

.main-navigation li {
	display: inline-block;
	vertical-align: middle;
	margin-right: 120px;
}

.main-navigation li:last-child {
	 margin-right: 0px;
}

.main-navigation a {
	color: #000000;
	text-decoration: none;
	font-weight: bold;
}

.main-navigation a:hover {
	color:#81b3d2;
}

.main-navigation a:active {
color:#d6d0cc;
}

.filter {
	font-size:16px;
	line-height:21px;
	background-image: url("../img/backround_inner_1200.jpg");
	background-size: cover;
	margin: 0 auto;
	text-transform:uppercase;
	box-sizing:border-box;
	margin-top: -20px;
	padding:30px 73px;
	min-height: 220px;
}

.filter li {
	color: #ffffff;
	list-style: none;
	margin-top: 20px;
}

.filter span {
	color: #ffffff;
	font-weight: bold;
}

.infrastructure {
	display: block;
	float:left;
	width: 241px;
	min-height: 160px;
}

.housing {
	display: block;
	float:left;
	width: 288px;
	margin-right: 197px;
	min-height: 160px;
}

.range-filter {
	display: block;
	float:right;
	width: 328px;
	min-height: 160px;
}

.range-filter p {
	font-weight: bold;
	margin-top: 0px;
	margin-bottom: 10px;
	color: #ffffff;
}

.scale {
	position: relative;
    margin-top:15px;
    height:2px;
    background:#ffffff;
}

.min-toggle, .max-toggle{
	position: absolute;
    margin-top: -13px;
    width:4px;
    height:4px;
    border:10px solid #ffffff;
    border-radius: 50%;
    cursor:pointer;
    background: #ababab;
    }

.min-toggle{
    left:1146px;
}

.max-toggle{
    left:1400px;
}

.max-toggle:hover {
	background: #1c4f80;
}

.min-toggle:hover {
	background: #1c4f80;
}

.range-filter button {
	margin-top: 30px;
	border: 2px solid #ffffff;
	background-color: transparent;
	color: #ffffff;
	width: 133px;
	height: 32px;
	margin-left: 90px;
}

.price-controls {
	width: 320px;
	height: 35px;
	border: 2px solid #ffffff;
	position: relative;
}

.price-controls span {
	color: #ffffff;
	padding-top: 7px;
	box-sizing:border-box;
}

.min-price {
	display: block;
	float:left;
	width: 159px;
	text-align: center;
}

.max-price {
	display: block;
	float: right;
	width: 159px;
	text-align: center;
}

.min-price::after {
	content: "";
    color: #ffffff;
    border-left: 2px solid white;
    height: 20px;
    position: absolute;
    right: 160px;
}

.sorting {
	clear: both;
	padding-top:55px;
	padding-bottom: 60px;
	padding-left: 73px;
	padding-right: 73px;
	font-size:12px;
	line-height:18px;
	font-weight: bold;
}

.sorting li {
	display: inline-block;
	margin-left: 15px;
	margin-right: 10px;
	font-size:12px;
	line-height:18px;
}

.sorting a {
	text-decoration:none;
	color:#b1b1b1;
	border-bottom: 1px dotted #81b3d2;
}

.sorting a:hover {              
    color:#81b3d2;
}

.sorting a:active {              
    color:#81b3d2;
    text-decoration: none;
}

.sorting h3 {
	display: inline-block;
	margin-right: 45px;
	font-weight: bold;
	text-transform:uppercase;
	font-size:21px;
	line-height:26px
}

.sorting div {
	display: inline-block;
	margin-right: 15px;
}

.results {
	padding-left: 73px;
	padding-right: 73px;
	list-style: none;
}

.results-logo {
	float:left;
	margin-right: 30px;
}

.results > li{
	margin-bottom: 61px;
}

.results-info {
}

.results h3 {
	font-weight: bold;
	font-size:21px;
	line-height:26px;
	text-transform:uppercase;
	margin-bottom: 12px;
}

.results span {
	font-size:14px;
	line-height:21px;
	font-weight: bold;
}

.results a {
	margin-top: 16px;
	min-height: 27px;
	color:white;
	text-transform:uppercase;
	font-size: 14px;
	line-height: 21px;
}

li .more {
	background-color:#81b3d2;
	width: 110px;
	border: none;
	padding: 5px 15px;
	font-weight: bold;
}

li .reservation {
	background-color:#766357;
	width: 142px;
	border: none;
	padding: 5px 15px;
	font-weight: bold;
}

.decor {
	float: right;
	margin-top: -150px;
}

.rating {
	width: 110px;
	height:27px;
	background-color: #f2f2f2;
	color: #8b8b8b;
	text-align: center;
	padding: 3px;
	box-sizing:border-box;
	font-size:14px;
	line-height:21px;
	margin-top: 33px;
}

.stars {
	list-style: none;
}

.stars li {
	display: inline-block;
	margin-right: -6px;
}

footer {
	width: 1200px;
	margin: 0 auto;
	padding: 50px 73px;
}

.footer-visitsedona {
	float:left;
	font-weight: bold;
    font-size: 21px;
    margin-top: 13px;
}

.footer-social {
	width: 400px;
	margin-right: 88px;
	font-size: 0;
	margin: 0 auto;
}

.social-btn {
	display: inline-block;
	width: 50px;
	height: 50px;
	background-color: #81b3d2;
	margin-right: 7px;
}

.social-btn-vk {
	background-image: url("../img/tw.png");
	background-repeat: no-repeat;
	background-position: 50%;
}

.social-btn-fb {
	background-image: url("../img/f.png");
	background-repeat: no-repeat;
	background-position: 50%;
}

.social-btn-inst {
	background-image: url("../img/you.png");
	background-repeat: no-repeat;
	background-position: 50%;
}

.footer-copyright {
	float:right;
	margin-top: -53px;
}

.footer-copyright p {
	
}

.footer-copyright img {
	display: block;
	margin-top: -40px;
	margin-left: 105px;
}

footer a {
  color:#000000;
  text-decoration: none;
}

ul {
	margin: 0;
	padding: 0;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}