body {
	font-family: "PTSans", sans-serif;
	font-style: normal;
	font-size:14px;
	line-height:26px;
	color: #000000;
}

.main-header {
	width: 1056px;
	margin: 0 auto;
	text-transform:uppercase;
	font-size:14px;
	line-height:26px;
}

.container {
	width: 1056px;
	margin: 0 auto;
	text-transform:uppercase;
}

.main-navigation {
	list-style: none;
	text-transform:uppercase;
}

.main-navigation li {
	display: inline-block;
	line-height: middle;
	margin-right: 88px;
}

.main-navigation a {
	color: #000000;
	text-decoration: none;
	font-weight: bold;
}

.filter {
	font-size:16px;
	line-height:21px;
	width: 1056px;
	min-height: 217;
	background-image: url("../img/backround_inner_1200.jpg");
	background-size: contain;
	margin: 0 auto;
	text-transform:uppercase;
	box-sizing:border-box;
}

.filter li {
	color: #ffffff;
	list-style: none;
	padding-bottom: 25px;
}

.filter span {
	margin-left: 40px;
	color: #ffffff;
	font-weight: bold;
}

.infrastructure {
	display: block;
	float:left;
	margin-left: 70px;
	margin-top: 25px;
}

.housing {
	display: block;
	float:left;
	margin-left: 70px;
	margin-top: 25px;
}

.range-filter {
	display: block;
	float:right;
	margin-right: 80px;
	width: 307px;
}

.range-filter p {
	font-weight: bold;
}

.scale{
margin-top:15px;
height:2px;
background:#ffffff;
}

.min-toggle, .max-toggle{
margin-top: -13px;
width:4px;
height:4px;
border:10px solid #ffffff;
cursor:pointer;
border-radius:50%;
}

.min-toggle{
float: left;
background: #ababab;
}

.max-toggle{
float: right;
background: #1c4f80;
}

.range-filter p {
	margin-bottom: 10px;
	color: #ffffff;
}

.range-filter button {
	margin-top: 30px;
	border: 2px solid #ffffff;
	background-color: transparent;
	color: #ffffff;
	width: 133px;
	height: 32px;
	margin-left: 90px;
}

.price-controls {
	border: 2px solid #ffffff;
	text-align: center;
}

.price-controls span {
	color: #ffffff;
}

.price-controls input {
	border: none;
	color: #ffffff;
}

.sorting {
	clear: both;
	padding-top:55px;
	padding-bottom: 60px;
	font-size:12px;
	line-height:18px
}

.sorting li {
	display: inline-block;
	margin-left: 15px;
	margin-right: 10px;
	color:#b1b1b1;
	font-size:12px;
	line-height:18px
}

.sorting li:first-child {
    color:#b3d1e4;
}

.sorting h3 {
	display: inline-block;
	margin-right: 45px;
	font-weight: bold;
	text-transform:uppercase;
	font-size:21px;
	line-height:26px
}

.sorting div {
	display: inline-block;
	margin-right: 15px;
}

.amara img {
	float:left;
	margin-right: 30px;
}

.desert img {
	clear: both;
	float:left;
	margin-right: 30px;
}

.villas img {
	clear: both;
	float:left;
	margin-right: 30px;
}

.amara {
	margin-bottom: 61px;
}

.desert {
	margin-bottom: 61px;
}

.villas {
	margin-bottom: 61px;
}

.results button {
	margin-top: 16px;
	height: 27px;
	color:white;
	text-transform:uppercase;
	font-size: 14px;
	line-height: 21px;
}

.more {
	background-color:#81b3d2;
	width: 110px;
	border: none;
}

.reservation {
	background-color:#766357;
	width: 142px;
	border: none;
}

.results h3 {
	font-weight: bold;
	font-size:21px;
	line-height:26px;
	text-transform:uppercase;
	margin-bottom: 12px;
}


.results span {
	font-size:14px;
	line-height:21px;
}

.rating {
	margin-left: 850px;
	width: 110px;
	height:27px;
	background-color: #f2f2f2;
	color: #8b8b8b;
	text-align: center;
	padding: 3px;
	box-sizing:border-box;
	font-size:14px;
	line-height:21px;
}

footer {
	width: 1056px;
	margin: 0 auto;
}

.footer-visitsedona {
	float:left;
	width: 241px;
	margin-right: 88px;
	font-weight: bold;
    font-size: 21px;
    line-height: 26px;
}

.footer-social {
	float:left;
	width: 401px;
	margin-right: 88px;
}

.footer-copyright {
	float:right;
	width: 241px;
	margin-right: 73px;
}

.footer-copyright img {
	display: block;
	margin-top: -30px;
	margin-left: 105px;
	margin-bottom: 35px;
}

footer a {
  color:#000000;
  text-decoration: none;
}