body {
	font-family: "PTSans", sans-serif;
	font-style: normal;
	font-size:14px;
	line-height:26px;
	text-transform:uppercase;
	color: #333333; 
}
h1 {
	font-weight: bold;
	font-size:21px;
}

h2{
    font-weight:normal;
}

h3 {
	font-weight: bold;
}