body {
  font-family:"PTSans", "Arial", sans-serif;
  font-style:normal;
  font-size:14px;
  line-height:26px;
  text-transform:uppercase;
  color:#000000; 
}

h1 {
  font-weight:bold;
  font-size:21px;
  text-align:center;
  margin-top: 50px;
  margin-bottom: 35px;
}

h2 {
  text-align:center;
  font-weight: normal;
  margin-bottom: 50px;
}

h3 {
  font-weight:bold;
  font-size:21px;
  margin-bottom: 20px;
}

.header-info-1 .index-logo {
  display: block;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 80px;
  background-repeat: 1200px 562px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  box-sizing:border-box;
}

.main-header {
  width:1200px;
  margin: 0 400px;
  box-sizing:border-box;
}

.main-navigation {
  list-style:none;
  margin: 0 auto;
  box-sizing:border-box;
}

.header-info-1{
  width: 1200px;
  background-image: url("../img/sedona_1200.jpg");
  text-align: center;
  margin: -20px auto 20px;
 }

.main-navigation li {
  display: inline-block;
  margin-right:125px;
  vertical-align: middle;
  text-align:center;
}

.main-navigation a {
  color:#000000;
  text-decoration: none;
  font-weight:bold;
}

.features{
  height: 256px
}

.features-item {
    width: 400px;
    min-height: 256px;
    padding-top: 50px;
    text-align: center;
    box-sizing: border-box;
}

.features-item p {
  margin-right: 50px;
  margin-left: 50px;
  margin-top: 20px;
}

.item-1 {
  background-color:#81b3d2;
  color: white;
  float:left;
}

.item-2 {
  background-color:#81b3d2;
  color: white;
  float:right;
}

.item-3 {
  background-color:#eeeeee;
  float:left;
}

.item-4 {
  background-color:#eeeeee;
  float:left;
}

.item-5 {
  background-color:#eeeeee;
  float:right;
}

.features-image {
  width:800px;
  height:256px;
}

.image-1 {
  float:right;
  background-image: url("../img/city_1200.jpg");
}

.image-2 {
  float:left;
  background-image: url("../img/mountains_1200.jpg");
}

.service-item {
  width: 400px;
  min-height: 210px;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 70px;
  padding-left: 50px;
  padding-right: 50px;
  box-sizing:border-box;
}

.house {
  float: left;
}

.food {
  float: left;
}

.souvenirs {
  float: right;
}

.location-title {
  text-align: center;
  margin-bottom: 135px;
}

.location-title h2 {
  font-size: 30px;
  font-weight: bold;
  padding-top: 55px;
  padding-bottom: 20px;
  clear: both;
}

.location .map {
  position: relative;
}

.location .search {
  text-align: center;
  min-height: 480px;
  width: 572px;
  margin:0 auto;
  position: absolute;
  left:650px;
  bottom:-1610px;
  background-color: white;
}

.search h3 {
  background: #766357;
  min-height: 86px;
  padding: 25px;
  color: white;
  text-align: center;
  margin-bottom: 50px;
  box-sizing:border-box;
}

.search button {
  background: #81b3d2;
  width: 458px;
  min-height: 58px;
  margin-bottom: 55px;
  margin-top: 54px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-transform:uppercase;
  color: white;
}

label {
  font-weight: bold;
  text-align: left;
  margin-bottom: 50px;
  padding-left: 56px;
  border: none;
}

input {
  background: #f2f2f2;
  width: 346px;
  min-height: 38px;
}

footer {
  width: 1200px;
  margin: 0 auto;
  margin-top: 30px;
}

.footer-visitsedona {
  float:left;
  width: 240px;
  margin-right: 88px;
  margin-left: 73px;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.footer-social {
  float:left;
  width: 397px;
  margin-right: 88px;
}

.footer-copyright {
  float:right;
  width: 241px;
  margin-right: 73px;
}

.footer-copyright img {
  display: block;
  margin-top: -30px;
  margin-left: 105px;
  margin-bottom: 35px;
}

footer a {
  color:#000000;
  text-decoration: none;
}